@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #010114;
  --font-color: #F9F8F8;
  --primary-color: #759FD1;
  --secondary-color: #07072D;
  --highlight-color: #1a1a50;
  --secondary-font-color: #9c9a9a;
  font-size: 62.5%;

}

.light {
  --bg-color: #EFEDE8;
  --font-color: #252B2C;
  --primary-color: #C24D2C;
  --secondary-color: #E1DFDB;
  --highlight-color: #c5c3c3;
  --secondary-font-color: #555757;
}

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

.menu-active a {
  color: var(--primary-color) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {

  background-color: var(--bg-color);
  color: var(--font-color);

}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar {
  background-color: var(--secondary-color);
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 23rem;
  width: 100vw;
}



.navbar--logo {
  color: var(--primary-color);
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}


.navbar--menu li {
  list-style-type: none;
}

.navbar--center {
  display: inline-flex;
  /* padding: 0 10rem; */
  justify-content: space-between;
  align-items: center;
  gap: 16rem;
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
}

.menu-item {
  font-size: 1.8rem;
  font-weight: 500;
}

.nav-menu-container {
  display: flex;
  gap: 6rem;
  flex-direction: row;
}

/* Small devices (portrait tablets and large phones, 600px and up) */

.navbar--menu {
  display: flex;
  flex-direction: row;
}

.navbar--menu {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
}

.name {
  font-size: 5.2rem;
  font-weight: 700;
  margin-top: 0.6rem;
}

.greetings {
  font-size: 3.2rem;
  font-weight: 700;
}

.role {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.name-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1200px !important;
  margin: auto;
  width: 100%;
}


#circle-path {
  fill: var(--primary-color);
}

#profile-image {
  position: absolute;
  top: -5.5rem;
  left: 1rem;
}

#profile-bg-circle {
  fill: var(--primary-color);
}

#profile-bg-rect {
  fill: var(--bg-color);
}

.CTA-buttons {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
}

.primary-CTA {
  display: inline-flex;
  min-width: 16rem;
  padding: 1.2rem 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: var(--bg-color);
  gap: 0.6rem;
  border: 0;
  background-color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.secondary-CTA {
  display: inline-flex;
  min-width: 16rem;
  padding: 1.2rem 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  color: var(--font-color);
  gap: 0.6rem;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;

}

#blog-icon path {
  fill: var(--bg-color);
}

#eye-icon path {
  fill: var(--font-color);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary-color);
  ;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--font-color);
  /* background-image */
}

.section-headings {
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 700;
}


.menu-item a {
  text-decoration: none;
  color: var(--font-color);
}

.about-me-content p {
  max-width: 70ch;
  line-height: 4rem;
  font-weight: 500;
  font-size: 1.8rem;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 20px;
  height: 20px;
  /* background-color only for content */
  border: 3px solid var(--primary-color);
  background-color: var(--bg-color);
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: var(--primary-color);
}

#github,
#linkedin,
#mail {
  fill: var(--primary-color);
}

/* .highlight {
  color: var(--primary-color);
} */

.post-card {
  width: 37rem;
  height: 34rem;
  border: 2px solid var(--font-color);
  border-radius: 1.6rem;
  background-color: var(--secondary-color);
  padding: 2.5rem;
}

.post-card h2 {
  font-size: 2.4rem;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post-card p {
  font-size: 1.5rem;
  line-height: 3.4rem;
  max-height: 17rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.post-card a {
  text-decoration: none;
  cursor: pointer;
  margin-top: 1.2rem;
  border: none;
  background: transparent;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.6rem;
}

#arrow {
  fill: var(--primary-color);
}

.project {
  display: flex;
  flex-direction: row;
  gap: 4.8rem;
  padding-top: 3.15rem;
  padding-bottom: 3.15rem;
  border-bottom: 2px solid var(--secondary-color);
}

.technologies {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  flex-direction: row;
  gap: 1.6rem;
  width: fit-content;
}

.technology {
  display: flex;
  background-color: var(--secondary-color);
  min-width: 10rem;
  min-height: 3.4rem;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  padding: 0 2rem;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-description h1 {
  color: var(--primary-color);
  font-size: 4.8rem;
  font-weight: 700;
}

.project-description p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  max-height: 9rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#projects-section>p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1.6rem;

}

.project-CTA {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.project-CTA a {
  height: 5rem;
  min-width: 15rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.CTA-primary {
  border: 0;
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.CTA-secondary {
  background: transparent;
  border: 3px solid var(--primary-color);
  color: var(--font-color);
}

.proj-img {
  border-radius: 0.8rem;
}

#projects-section {
  margin-top: 7rem;
}

.footer p {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
  font-size: 1.6rem;
}

.menu-item a:hover {
  color: var(--primary-color)
}


.read-more-link path {
  d: path("M16.6548 6.53033C16.9477 6.23744 16.9477 5.76256 16.6548 5.46967L11.8819 0.696699C11.589 0.403806 11.1141 0.403806 10.8212 0.696699C10.5283 0.989593 10.5283 1.46447 10.8212 1.75736L15.0639 6L10.8212 10.2426C10.5283 10.5355 10.5283 11.0104 10.8212 11.3033C11.1141 11.5962 11.589 11.5962 11.8819 11.3033L16.6548 6.53033ZM0 6.75H16.1245V5.25H0V6.75Z"
    );
  d: "M16.6548 6.53033C16.9477 6.23744 16.9477 5.76256 16.6548 5.46967L11.8819 0.696699C11.589 0.403806 11.1141 0.403806 10.8212 0.696699C10.5283 0.989593 10.5283 1.46447 10.8212 1.75736L15.0639 6L10.8212 10.2426C10.5283 10.5355 10.5283 11.0104 10.8212 11.3033C11.1141 11.5962 11.589 11.5962 11.8819 11.3033L16.6548 6.53033ZM0 6.75H16.1245V5.25H0V6.75Z";
}

.read-more-link:hover path {
  d: path("M21.5303 6.53033C21.8232 6.23744 21.8232 5.76256 21.5303 5.46967L16.7574 0.696699C16.4645 0.403806 15.9896 0.403806 15.6967 0.696699C15.4038 0.989593 15.4038 1.46447 15.6967 1.75736L19.9393 6L15.6967 10.2426C15.4038 10.5355 15.4038 11.0104 15.6967 11.3033C15.9896 11.5962 16.4645 11.5962 16.7574 11.3033L21.5303 6.53033ZM0 6.75H21V5.25H0V6.75Z"
    );
  d: "M21.5303 6.53033C21.8232 6.23744 21.8232 5.76256 21.5303 5.46967L16.7574 0.696699C16.4645 0.403806 15.9896 0.403806 15.6967 0.696699C15.4038 0.989593 15.4038 1.46447 15.6967 1.75736L19.9393 6L15.6967 10.2426C15.4038 10.5355 15.4038 11.0104 15.6967 11.3033C15.9896 11.5962 16.4645 11.5962 16.7574 11.3033L21.5303 6.53033ZM0 6.75H21V5.25H0V6.75Z"
}

.read-more-link:hover svg {
  width: 27px;
  height: 12px;
}

.read-more-link svg {
  transition: 350ms all ease;
  cursor: pointer;
}

.blog-arrow path {
  transition: 350ms all ease;
  height: 100%;
  stroke: var(--primary-color);
  fill: var(--primary-color);
}

.post-card {
  pointer-events: none;
  transition: 350ms all ease;

}

.post-card:hover {
  border-radius: 0.9375rem;
  border: 2px solid var(--primary-color);
  box-shadow: 0px 0px 50px -10px var(--primary-color);

}

.read-more-link {
  pointer-events: auto;

}

#blog-posts-section {
  margin-top: 5rem;
}

.post {
  font-size: 160%;
  max-width: 85ch;
  margin: 0 auto;
  margin-top: 5rem
}

.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  color: var(--secondary-font-color) !important;
  text-decoration: none;
}

.back-button path {
  stroke: var(--secondary-font-color)
}

.back-button:hover {
  color: var(--font-color);
}

.back-button:hover path {
  stroke: var(--font-color);
}

.post-title a {
  color: var(--font-color) !important;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.info {
  margin-bottom: 3rem;
}

.post>p {
  color: var(--font-color);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  padding-bottom: 3rem;
}

.post>p>code {
  font-weight: 500;
  background-color: var(--highlight-color);
  border-radius: 6px;
  padding: 0 0.3rem;
}

.post>h1,.post>h2,.post>h3 {
  margin-bottom: 3rem;
}
.post>h1{
  font-size: 3.5rem;
}

.post>h2{
  font-size: 3rem;
}
.post>h3{
  font-size: 2.5rem;
}

.post-date{
  color: var(--secondary-font-color);
} 

.post>blockquote{
  padding: 2rem;
  color: var(--secondary-font-color);
  border-left: 1rem solid var(--highlight-color);
}

.highlight>pre{
  background-color: transparent !important;
  padding: 2rem;
}
.highlight{
  position: relative;
  margin-bottom: 3rem;
  background-color: var(--secondary-color);
  border-radius: 8px;
  overflow: hidden;
  border: 0.1px solid var(--font-color);
}

.highlight>button{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--highlight-color);
  border: none;
  color: var(--font-color);
  padding: 1rem;
  cursor: pointer;
}

.post > pre{
  padding: 2rem;
  margin-bottom: 3rem;
  position: relative;
  background-color: var(--secondary-color);
  border-radius: 8px;
  overflow: hidden;
  border: 0.1px solid var(--font-color);
}

.post>p>a{
  color: var(--primary-color);
}

.photo.small {
  position: relative;
  margin-top: 5rem;
  height: 100%;
}

.photo.small #profile-image {
  position: absolute;
  width: 170px;
  top: -0.7rem;
  left: 1.5rem;
}
.author-section{
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  align-items: center;
  padding: 0 5rem ;
  height: 100%;
  gap: 5rem;
  border-radius: 8px;
}

.photo.small #profile-bg-rect{
  fill: var(--secondary-color);
}
.photo.small #profile-img-bg {
  height: 200px;
  width: 200px;
}

.author-section p {
  font-size: 2rem;
}

.footer-divider{
  margin: 3rem 0;
  color: var(--secondary-font-color);
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.footer-container .socials{
  flex-direction: row;
}

.post a{
  color: var(--primary-color);
}